
*.txt

*.avi

*.png

Golikov_2D/.vs/Golikov_2D/v16/

Golikov_2D/

*.xlsx

*.filepart

nohup.out

*.sty

Cell.cpp

Cell.h

Couple.h

Gelios_2D.cpp

Gran.cpp

Gran.h

Help.cpp

Help.h

Point.cpp

Point.h

Rail.cpp

Rail.h

sensor.cpp

sensor.h

sensor2.cpp

sensor2.h

Setka.cpp

Setka.h

Solvers.cpp

Solvers.h

main.cpp

MKmethod.cpp

MKmethod.h
